.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.card {
  width: fit-content;
  height: 95vh;
  padding: 30px;
  margin-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.middleAllignment {
  display: flex;
  justify-content: center;
}
.heading {
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  background: linear-gradient(to right, #0f3443, #34e89e);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  color: white;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
.heading > h2 {
  text-align: center;
  margin: auto;
}
.formsection {
  margin: auto;
}
.itemcheckbox {
  display: flex;
  gap: 5px;
  align-items: baseline;
}
.incrbtn{
  border-radius: 5px 0 0 5px;
}
.inpbtn{
  border-radius: 0;
}
.decrbtn{
  border-radius: 0 5px 5px 0;
}
.plus-minus-case .btn, .plus-minus-box .btn {
  height: 30px;
  margin-bottom: 1px !important;
  line-height: 1;
}
.plus-minus-case, .plus-minus-box {
  float: right;
}
.orderQtyCount{
  display: inline-flex;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
